package ${package}.mapper;

import ${package}.model.${className};
import pers.chanus.yuntao.server.mapper.BaseMapper;

/**
 * ${tableComment}
 *
 * @author ${author}
 * @date ${dateTime}
 * @since ${since}
 */
public interface ${className}Mapper extends BaseMapper<${className}, ${pk.attributeType}> {

}