package ${package}.model;

## 判断是否有BigDecimal、Date、JSONField
#set($hasBigDecimal=false)
#set($hasDate=false)
#set($hasJSONField=false)
#foreach ($column in $columns)
#if($column.attributeType == "BigDecimal")
	#set($hasBigDecimal=true)
#elseif($column.attributeType == "Date")
	#set($hasDate=true)
#end
#if($column.dataType == 'datetime' || $column.dataType == 'timestamp' || $column.dataType == 'date')
	#set($hasJSONField=true)
#end
#end
import java.io.Serializable;
#if($hasBigDecimal)
import java.math.BigDecimal;
#end
#if($hasDate)
import java.util.Date;
#end
#if($hasJSONField)

import com.alibaba.fastjson.annotation.JSONField;
#end

/**
 * ${tableComment}
 * 
 * @author ${author}
 * @date ${dateTime}
 * @since ${since}
 */
public class ${className} implements Serializable {
	private static final long serialVersionUID = 1L;
	
#foreach ($column in $columns)
	// $column.columnComment
#if($column.dataType == 'datetime' || $column.dataType == 'timestamp')
	@JSONField(format = "yyyy-MM-dd HH:mm:ss")
#elseif($column.dataType == 'date')
	@JSONField(format = "yyyy-MM-dd")
#end
	private $column.attributeType $column.attributename;
#end
#foreach ($column in $columns)

	/**
	 * 获取：${column.columnComment}
	 */
	public $column.attributeType get${column.attributeName}() {
		return $column.attributename;
	}

	/**
	 * 设置：${column.columnComment}
	 */
	public void set${column.attributeName}($column.attributeType $column.attributename) {
#if($column.attributeType == 'String')
		this.$column.attributename = $column.attributename == null ? null : ${column.attributename}.trim();
#else
		this.$column.attributename = $column.attributename;
#end
	}
#end

	@Override
	public String toString() {
		return "${className} [" + 
#foreach ($column in $columns)
#if($velocityCount == 1)
				"${column.attributename}=" + $column.attributename + 
#elseif($column.attributeType != 'byte[]')
				", ${column.attributename}=" + $column.attributename + 
#end
#end
				"]";
	}
}
