package ${serverPackage}.service.impl;

import org.springframework.stereotype.Service;
import ${serverPackage}.mapper.${className}Mapper;
import ${serverPackage}.model.${className};
import ${serverPackage}.service.${className}Service;
import pers.chanus.yuntao.server.service.impl.BaseServiceImpl;

/**
 * ${moduleName}接口实现
 *
 * @author ${author}
 * @date ${dateTime}
 * @since ${since}
 */
@Service
public class ${className}ServiceImpl extends BaseServiceImpl<${className}Mapper, ${className}> implements ${className}Service {

}
