package ${serverPackage}.service;

import ${serverPackage}.model.${className};
import pers.chanus.yuntao.server.service.BaseService;

/**
 * ${moduleName}接口
 *
 * @author ${author}
 * @date ${dateTime}
 * @since ${since}
 */
public interface ${className}Service extends BaseService<${className}, ${pk.attributeType}> {

}
