package ${serverPackage}.mapper;

import ${serverPackage}.model.${className};
import pers.chanus.yuntao.springmvc.mapper.SuperMapper;

/**
 * ${tableComment}
 *
 * @author ${author}
 * @date ${dateTime}
 * @since ${since}
 */
public interface ${className}Mapper extends SuperMapper<${className}> {
#if($overrideUpdate == '1')
    @Override
    int updateById(${className} ${classname});
#end
}