<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.chanus.yuntao.manager.mapper.DataBaseTableMapper">
  <resultMap id="BaseResultMap" type="pers.chanus.yuntao.manager.model.DataBaseTable">
    <result column="table_schema" jdbcType="VARCHAR" property="tableSchema" />
    <result column="table_name" jdbcType="VARCHAR" property="tableName" />
    <result column="table_type" jdbcType="VARCHAR" property="tableType" />
    <result column="engine" jdbcType="VARCHAR" property="engine" />
    <result column="table_rows" jdbcType="VARCHAR" property="tableRows" />
    <result column="auto_increment" jdbcType="VARCHAR" property="autoIncrement" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="table_collation" jdbcType="VARCHAR" property="tableCollation" />
    <result column="table_comment" jdbcType="VARCHAR" property="tableComment" />
  </resultMap>
  
  <select id="count" parameterType="java.util.Map" resultType="java.lang.Integer">
    select count(*) from information_schema.tables
    <where>
      <choose>
        <when test="tableSchema != null">
          and table_schema = #{tableSchema,jdbcType=VARCHAR}
        </when>
        <otherwise>
          and table_schema = (select database())
        </otherwise>
      </choose>
      <if test="tableName != null">
        and table_name = #{tableName,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
  
  <select id="list" parameterType="java.util.Map" resultMap="BaseResultMap">
    select 
    table_schema, table_name, table_type, engine, table_rows, auto_increment, create_time, table_collation, table_comment
    from information_schema.tables
    <where>
      <choose>
        <when test="tableSchema != null">
          and table_schema = #{tableSchema,jdbcType=VARCHAR}
        </when>
        <otherwise>
          and table_schema = (select database())
        </otherwise>
      </choose>
      <if test="tableName != null">
        and table_name = #{tableName,jdbcType=VARCHAR}
      </if>
    </where>
    <if test="pagination == true">
      limit #{start,jdbcType=INTEGER}, #{limit,jdbcType=INTEGER}
    </if>
  </select>
  
  <select id="get" resultMap="BaseResultMap">
    select table_name, table_comment from information_schema.tables
    <where>
      <choose>
        <when test="tableSchema != null">
          and table_schema = #{tableSchema,jdbcType=VARCHAR}
        </when>
        <otherwise>
          and table_schema = (select database())
        </otherwise>
      </choose>
      <if test="tableName != null">
        and table_name = #{tableName,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
</mapper>