<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.chanus.yuntao.manager.mapper.ScheduleTriggerMapper">
  <resultMap id="BaseResultMap" type="pers.chanus.yuntao.manager.model.ScheduleTrigger">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="job_id" jdbcType="INTEGER" property="jobId" />
    <result column="trigger_name" jdbcType="VARCHAR" property="triggerName" />
    <result column="trigger_group" jdbcType="VARCHAR" property="triggerGroup" />
    <result column="trigger_cron" jdbcType="VARCHAR" property="triggerCron" />
    <result column="trigger_start_time" jdbcType="TIMESTAMP" property="triggerStartTime" />
    <result column="trigger_end_time" jdbcType="TIMESTAMP" property="triggerEndTime" />
    <result column="trigger_data" jdbcType="VARCHAR" property="triggerData" />
    <result column="priority" jdbcType="INTEGER" property="priority" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="valid_status" jdbcType="CHAR" property="validStatus" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>
  
  <sql id="Base_Column_List">
    id, job_id, trigger_name, trigger_group, trigger_cron, trigger_start_time, trigger_end_time, trigger_data, priority, remark, valid_status, gmt_create, gmt_modified
  </sql>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_schedule_trigger
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_schedule_trigger
    <where>
      <choose>
        <when test="list == null or list.size() == 0">
          1 &lt;&gt; 1
        </when>
        <when test="list.size() == 1">
          id = <foreach collection="list" item="id">#{id,jdbcType=INTEGER}</foreach>
        </when>
        <otherwise>
          id in <foreach collection="list" item="id" open="(" separator="," close=")">#{id,jdbcType=INTEGER}</foreach>
        </otherwise>
      </choose>
    </where>
  </delete>
  
  <insert id="insertSelective" parameterType="pers.chanus.yuntao.manager.model.ScheduleTrigger">
    insert into sys_schedule_trigger
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="jobId != null">
        job_id,
      </if>
      <if test="triggerName != null">
        trigger_name,
      </if>
      <if test="triggerGroup != null">
        trigger_group,
      </if>
      <if test="triggerCron != null">
        trigger_cron,
      </if>
      <if test="triggerStartTime != null">
        trigger_start_time,
      </if>
      <if test="triggerEndTime != null">
        trigger_end_time,
      </if>
      <if test="triggerData != null">
        trigger_data,
      </if>
      <if test="priority != null">
        priority,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="validStatus != null">
        valid_status,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="jobId != null">
        #{jobId,jdbcType=INTEGER},
      </if>
      <if test="triggerName != null">
        #{triggerName,jdbcType=VARCHAR},
      </if>
      <if test="triggerGroup != null">
        #{triggerGroup,jdbcType=VARCHAR},
      </if>
      <if test="triggerCron != null">
        #{triggerCron,jdbcType=VARCHAR},
      </if>
      <if test="triggerStartTime != null">
        #{triggerStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="triggerEndTime != null">
        #{triggerEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="triggerData != null">
        #{triggerData,jdbcType=VARCHAR},
      </if>
      <if test="priority != null">
        #{priority,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="validStatus != null">
        #{validStatus,jdbcType=CHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="pers.chanus.yuntao.manager.model.ScheduleTrigger">
    update sys_schedule_trigger
    <set>
      <if test="jobId != null">
        job_id = #{jobId,jdbcType=INTEGER},
      </if>
      <if test="triggerName != null">
        trigger_name = #{triggerName,jdbcType=VARCHAR},
      </if>
      <if test="triggerGroup != null">
        trigger_group = #{triggerGroup,jdbcType=VARCHAR},
      </if>
      <if test="triggerCron != null">
        trigger_cron = #{triggerCron,jdbcType=VARCHAR},
      </if>
      <if test="triggerStartTime != null">
        trigger_start_time = #{triggerStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="triggerEndTime != null">
        trigger_end_time = #{triggerEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="triggerData != null">
        trigger_data = #{triggerData,jdbcType=VARCHAR},
      </if>
      <choose>
        <when test="priority != null">
          priority = #{priority,jdbcType=INTEGER},
        </when>
        <otherwise>
          priority = NULL,
        </otherwise>
      </choose>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="validStatus != null">
        valid_status = #{validStatus,jdbcType=CHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="count" parameterType="java.util.Map" resultType="java.lang.Integer">
    select count(*) from sys_schedule_trigger
    <where>
      <if test="jobId != null">
        and job_id = #{jobId,jdbcType=INTEGER}
      </if>
      <if test="validStatus != null">
        and valid_status = #{validStatus,jdbcType=CHAR}
      </if>
    </where>
  </select>
  
  <select id="list" parameterType="java.util.Map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_schedule_trigger
    <where>
      <if test="jobId != null">
        and job_id = #{jobId,jdbcType=INTEGER}
      </if>
      <if test="validStatus != null">
        and valid_status = #{validStatus,jdbcType=CHAR}
      </if>
    </where>
    <if test="pagination == true">
      limit #{start,jdbcType=INTEGER}, #{limit,jdbcType=INTEGER}
    </if>
  </select>
</mapper>